<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Sửa User</title>
</head>
<body>
<main class="content" layout:fragment="content">
  <div class="header">
    <h2>Sửa User</h2>
  </div>
    <form id="editForm" class="style-form">
      <input type="hidden" id="userId">

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" name="role">
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fingerprintId">Fingerprint ID:</label>
        <div class="fingerprint-group">
          <input type="text" id="fingerprintId" name="fingerprintId" readonly>
          <button type="button" class="btn btn-secondary" onclick="getFingerprint()">Lấy vân tay</button>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn-sm danger" onclick="goBack()">Back</button>
        <button type="submit" class="btn">Save</button>
      </div>
    </form>
  <script src="/js/user.js"></script>
</main>


</body>
</html>
